@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600&display=swap'");
html {
  font-family: "Archivo", sans-serif;
}
body {
  margin: 0;
}
h1,
h2,
h3,
p,
h4 {
  font-family: "Archivo", sans-serif;
}
