.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  border-bottom-width: 4px;
  border-bottom-color: #e4e4e4;
  border-bottom-style: solid;
  padding: 20px 1rem;
}

@media (max-width: 600px) {
  .container {
    margin: 0;
  }
  .logo {
    width: 124px;
    height: 20px;
  }
}

